* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    max-width: 1000px;
    width: 100%;
    margin: 0 5%;
    padding: 0 2%;
    margin-bottom: 4rem;
}

.featured {
    position: relative;
    height: 400px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.featured .topBack {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.topLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    height: 400px;
    color: #fff;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}

.featured img {
    border-radius: 0.5rem;
}

.featured .sideInfo {
    padding: 1rem;
}

.featured .sideInfo p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    font-size: 0.9rem;
    margin: 1rem 0;
}
.featured .sideInfo .score {
    margin-top: 2rem;
    color: #000;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.animeList {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.singleAnime h1 {
    font-size: 0.8rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.singleAnime h4 {
    font-size: 0.7rem;
    color: #353535;
}

.singleAnime img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.searchBar {
    width: 100%;
    margin: 2rem 0;
}
.searchBar form {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    background: #000;
    border-radius: 0.5rem;
}
.form::placeholder {
    color: #757575;
}

.searchBar input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
}

nav {
    margin: 2rem 0;
}

nav a {
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

.details {
    margin:1rem 0;
}

.detailTop {
    position: relative;
    height: 400px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.detailTop {
    border-radius: 0.5rem;
}

.detailLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    color: #fff;
}

.detailLayer h2 {
    font-size: 2rem;
}

.detailLayer h3:nth-child(3) {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
}

.detailLayer h3:nth-child(4) {
    margin-top: 3rem;
    color: #000;
    background: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.detailLayer img {
    margin: auto;
    border-radius: 0.5rem;
}

.background {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.tags {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1rem;
    overflow-x: auto;

}

.tags::-webkit-scrollbar {
    display: none;
}

.tags h4 {
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 0.5rem;
    margin-right: 1rem;
    white-space: nowrap;
}

.desc h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}